@media (max-width: 768px) {
    .main-header {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .main-header .logo {
        text-align: center;
    }

    .main-header .main-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-header .nav-bar a {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .main-content {
        padding: 10px;
        gap: 10px;
    }

    .card {
        padding: 10px;
        margin: 10px 0;
        align-items: center;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .upload-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 100%;
        max-width: 35vh;
        max-height: 35vh;
        padding: 20px;
    }

    .upload-container img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .upload-container label {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }

    .search-bar {
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    .keyword-cloud {
        flex-direction: column;
        gap: 5px;
    }

    #saved-memes-section .card {
        width: 100%;
        max-width: 500px;
        text-align: center;
        padding: 20px;
        margin: auto;
    }

    .saved-memes-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .saved-meme {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .saved-meme img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .btn-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        justify-content: center;
        justify-items: center;
        width: 100%;
        max-width: 326px;
    }

    .all-font-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        justify-content: center;
        justify-items: center;
        width: 100%;
    }

    .editor-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        justify-content: center;
        justify-items: center;
        width: 100%;
        max-width: 326px;
    }

    #download-link {
        flex-direction: column;
        padding: 10px;
        text-align: center;
        justify-content: center
    }


    .canvas-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 100%;
    }

    #meme-canvas {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    #meme-text {
        width: 100%;
        max-width: 500px;
        margin-bottom: 10px;
    }

    #gallery-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .alignment-buttons,
    .position-buttons {
        flex-direction: column;
    }

    #font-family {
        margin-bottom: 5px;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: auto;
    }
}