/* @media (max-width: 768px) {
    .main-header .main-header-inner {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-content {
        flex-direction: row;
    }

    .canvas-container {
        max-width: 600px;
    }

    #meme-canvas {
        max-width: 100%;
    }

    #btn-content .btn-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #btn-content .btn-container button {
        margin: 5px 0;
        padding: 10px 20px;
    }

    .sticker-container {
        grid-template-columns: repeat(4, 1fr);
    }
} */

@media (max-width: 768px) {
    .main-header {
        padding: 10px;
        flex-direction: column;
    }

    .main-header .logo {
        font-size: 24px;
        text-align: center;
    }

    .main-header .main-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-header .nav-bar a {
        width: 100%;
    }

    .main-content {
        padding: 10px;
    }

    .card {
        padding: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .upload-container {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 10px auto;
    }

    .keyword-cloud {
        flex-direction: column;
    }

    .saved-memes-gallery {
        flex-direction: column;
        align-items: center;
    }

    .btn-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    #download-link {
        flex-direction: column;
        padding: 10px;
    }

    .font-container {
        gap: 5px;
    }

    .sticker-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}